In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("adelanseur/crimes-2001-to-present-chicago")

print("Path to dataset files:", path)

destination_folder = './MATH1756_Final_Project/data/chicago_crime'
shutil.move(path, destination_folder)
print(f"File moved to: {destination_folder}")

Downloading from https://www.kaggle.com/api/v1/datasets/download/adelanseur/crimes-2001-to-present-chicago?dataset_version_number=1...

100%|██████████| 436M/436M [01:03<00:00, 7.25MB/s]

Extracting files...

Path to dataset files: /Users/linguoren/.cache/kagglehub/datasets/adelanseur/crimes-2001-to-present-chicago/versions/1
File moved to: ./MATH1756_Final_Project/data/chicago_crime

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('./chicago_crime/Crimes_-_2001_to_Present.csv')

In [6]:
df.shape
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
1,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824,8.0,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11449702,JB373031,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,5.0,41.0,18,NaN,NaN,2018,04/09/2019 04:24:58 PM,NaN,NaN,NaN
3,11643334,JC209972,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,31.0,19.0,14,NaN,NaN,2018,04/04/2019 04:16:11 PM,NaN,NaN,NaN
4,11645527,JC212744,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,23.0,56.0,11,NaN,NaN,2015,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [9]:
pd.set_option('display.max_columns', None)

df_filtered = df[(df['Year'] >= 2020) & (df['Year'] <= 2024)]
df_filtered.to_csv('./chicago_crime/Crimes_2020-24.csv', index=False)